event_hub_name          = "your-event-hub-name"
storage_account         = "your-storage-account"
connection_string       = "your-connection-string"
storage_account_key     = "your-storage-account-key"
elasticsearch_api_key   = "your-elasticsearch-api-key"
elasticsearch_endpoints = "https://your-cluster.region.cloud.es.io"
fleet_endpoint          = "https://your-cluster.kb.region.cloud.es.io:9243"